@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-brown: #322d29;
    --maroon: #72383d;
    --brown: #ac9c8d;
    --beige: #d1c7bd;
    --grey: #d9d9d9;
    --white: #FFFFFF;
    scroll-behavior: smooth;
}

body{
    font-family: "Marcellus", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* navbar  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    height:  100px;
    background: rgba(50, 45, 41,0.8);
    color: var(--white);
    cursor: pointer;
    position: fixed;
    transition: top 0.5s;
    width: 100%;
    z-index: 10;
}

.nav-list{
    display: flex;
}

.navbar-logo{
    width: 6rem;
}

.navbar ul{
    list-style: none;
    align-self: center;
    width: auto;
}

.navbar ul li{
    display: inline;
    
}

.navbar ul li a{
    text-decoration: none;
    color: var(--white);
    margin-left: 5rem ;
    font-size: 1.25rem;
    transition: 0.3s;
}

.navbar ul li a:hover{
    color: var(--grey);
    border-bottom: 2px solid var(--grey);
}

.navbar a img{
    height: 45px;
    width: 45px;
    margin-left: 5rem;
}

/* login  */
.login-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-width: 100%;
    min-height: 100vh; */
    width: 100%;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.login-wrapper{
    border: 2px solid var(--white);
    padding: 3rem;
    display: flex;
    min-width: 60%;
    border-radius: 10px;
    /* background-color: var(--dark-brown); */
    background: rgba(50, 45, 41,0.8);
}

.login-wrapper h2{
    width: 50%;
    font-size: 3rem;
    font-weight: 100;
    color: var(--white);
    align-content: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding-left: 2rem;
    border-left: 2px solid;
    color: var(--white);
    align-content: center;
}

.input-login{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.input-login label{
    font-size: 1rem;
}

.input-login input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    height: 2rem;
    outline: none;
    color: var(--white);
    font-family: "Marcellus", sans-serif;
}

.input-button{
    display: flex;
    justify-content: center;
}

.input-button button{
    padding: 0.7rem 2.5rem;
    background-color: transparent;
    border: none;
    color: var(--white);
    border-radius: 5px;
    margin: 10px 0;
    font-weight: 500;
    border: 2px solid var(--white);
    font-family: "Marcellus", sans-serif;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.input-button button:hover{
    background-color: var(--maroon);
    border: 2px solid var(--maroon);
    color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.log {
    margin-top: 5px;
    color: rgb(192, 45, 69); 
    font-size: small;
}

/* home  */
.landing-home{
    width: 100%;
    height: 100vh;
    background: url(assets/background/home/bg1.png) no-repeat center;
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    gap: 2rem;
}

.landing-home h4{
    font-weight: 100;
    font-size: 2rem;
}

.landing-home h2{
    font-weight: 100;
    font-size: 4rem;
}

.top-tier{
    padding: 5rem;
    background-color: var(--dark-brown);
}

.top-tier h2{
    font-weight: 100;
    font-size: 4rem;
    color: var(--white);
}

.top-tier-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.top-tier-card{
    width: 30%;
    height: 220px;
    padding: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

#top-audi-r8{
    background: url(assets/top-tier/audi-r8.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#top-audi-r8:hover{
    background: url(assets/top-tier/audi-hover.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}

#top-rr-phantom{
    background: url(assets/top-tier/RR-phantom-viii.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#top-rr-phantom:hover{
    background: url(assets/top-tier/rr-phantom-hover.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}

#top-porsche-911{
    background: url(assets/top-tier/porsche-911-turbo.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#top-porsche-911:hover{
    background: url(assets/top-tier/porsche-911-hover.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}

#top-chevrolet{
    background: url(assets/top-tier/chevrolet-corvette.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#top-chevrolet:hover{
    background: url(assets/top-tier/chevrolet-corvette-hover.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}

#top-bentley-gt{
    background: url(assets/top-tier/bentley-continental-gt.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#top-bentley-gt:hover{
    background: url(assets/top-tier/bentley-gt-hover.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}

#top-porsche-macan{
    background: url(assets/top-tier/porsche-macan.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#top-porsche-macan:hover{
    background: url(assets/top-tier/porsche-macan-hover.png);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
}

.top-tier-desc{
    border: 2px solid var(--white);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: var(--white);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    transition: 0.5s;
}

.top-tier-desc:hover{
    opacity: 1;
}

.top-tier-desc h3{
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
}

.top-tier-desc p{
    font-size: 0.75rem;
    line-height: 1.05rem;
    text-align: center;
}

.home-list-car{
    width: 100%;
    background: var(--dark-brown);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-list-car-nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.home-list-car-nav p{
    color: var(--white);
    font-size: 1rem;
}

.home-list-car-nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

.home-list-car h2{
    font-weight: 100;
    font-size: 4rem;
    color: var(--white);
    text-align: center;
}

.list-car-brand{
    margin: 1.25rem 0;
}

.list-car-brand-name{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.list-car-brand-name img{
    height: 2rem;
}

.list-car-brand-name h4{
    font-size: 2rem;
    font-weight: 100;
    color: var(--white);
}

.list-car-brand-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.list-car-brand-title p{
    color: var(--white);
    font-size: 1rem;
}

.slider-car{
    display: flex;
    overflow: scroll;
    gap: 5%;
}

.slider-car::-webkit-scrollbar {
    display: none;
}

.slider-car img{
    max-width: 30%;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.slider-car img:hover{
    filter: grayscale(90%);
    border: 2px solid var(--white);
}

.home-list-car button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 2px solid var(--white);
    background-color: transparent;
    border-radius: 5px;
    color: var(--white);
    margin-top: 4rem;
    transition: 0.3s;
    cursor: pointer;
}

.home-list-car button:hover{
    background-color: var(--maroon);
    border: 2px solid var(--maroon);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* cars  */
.cars-intro{
    height: 60vh;
    background: url(assets/background/cars/bg.png) no-repeat center;
    background-size: cover;
    color: var(--white);
    align-content: center;
    padding: 5rem 5rem 0;
}

.cars-intro h2{
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;
}

.cars-intro p{
    font-size: 1.25rem;
    text-align: center;
}

.new-vehicle{
    width: 100%;
    background-color: var(--dark-brown);
    padding: 5rem;
}

.new-vehicle h1{
    font-size: 4rem;
    font-weight: 100;
    color: var(--white);
}

.vehicle-container{
    display: flex;
    justify-content: space-between;
}

.vehicle-card{
    width: 29%;
    border: 2px solid var(--brown);
    border-radius: 10px;
    margin-top: 4rem;
    transition: 0.5s;
}

.vehicle-card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border: 2px solid var(--white);
    /* background-color: var(--brown); */
}

.vehicle-card img{
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.vehicle-desc{
    padding: 1.5rem;
}

.vehicle-desc h2{
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--white);
}

.vehicle-desc h6{
    font-size: 0.625rem;
    font-weight: 100;
    color: var(--brown);
}

.vehicle-desc h4{
    font-weight: 100;
    font-size: 1.25rem;
    color: var(--white);
}

.vehicle-desc p{
    font-weight: 100;
    font-size: 0.8rem;
    color: var(--white);
}

.carousel{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-brown);
    position: relative;
    overflow: hidden;
}

.slides{
    display: flex;
    gap: 3rem;
    margin: 5rem 0;
    background-color: var(--brown);
}

.carousel h2{
    margin-top: 10vh;
    font-size: 3rem;
    color: var(--white);
    font-weight: 100;
    text-align: center;
}

.slides img{
    width: 15%;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.slides img:hover{
    filter: grayscale(0);
}

/* about  */
.intro{
    width: 100%;
    height: 100vh;
    background: url(assets/background/about/bg1.png) no-repeat center;
    background-size: cover;
    padding: 17% 5rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.intro img{
    width: 86px;
}

.intro h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
}

.intro p{
    font-size: 1.25rem;
    text-align: center;
}

.about-logo{
    width: 100%;
    height: 100vh;
    background-color: #322d29;
    display: flex;
    padding: 0 5rem;
    align-items: center;
    color: var(--white);
    overflow: hidden;
}

.about-logo-text{
    width: 50%;
}

.about-logo-text h2{
    font-size: 3rem;
    font-weight: 100;
}

.about-logo-text p{
    font-size: 1.25rem;
    line-height: 2rem;
}

.about-logo img{
    position: absolute;
    height: 90%;
    right: 0;
}

.about-vision{
    width: 100%;
    height: 100vh;
    background: url(assets/background/about/bg2.png) no-repeat center;
    background-size: cover;
    align-content: center;
    padding: 0 5rem;
    color: var(--white);
}

.about-vision h2{
    font-size: 3rem;
    font-weight: 100;
}

.about-vision p{
    font-size: 1.75rem;
    width: 70%;
}

.about-mission{
    width: 100%;
    height: 100vh;
    background: url(assets/background/about/bg3.png) no-repeat center;
    background-size: cover;
    align-content: center;
    padding: 0 5rem;
    color: var(--white);
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
}

.about-mission h2{
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.mission-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mission-card{
    border: 1px solid var(--white);
    border-radius: 10px;
    width: 25%;
    padding: 2rem;
    /* align-content: center; */
    transition: 0.3s;
    cursor: pointer;
}

.mission-card:hover{
    background: rgba(50, 45, 41,0.4);
}

.mission-card h4{
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
}

.mission-card p{
    font-size: 1rem;
    text-align: center;
}

.about-history{
    width: 100%;
    height: 100vh;
    background-color: #322d29;
    display: flex;
    padding-right: 5rem;
    align-items: center;
    gap: 5rem;
}

.about-history img{
    width: 40%;
    height: auto;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about-history-text p{
    font-size: 1rem;
    color: var(--brown);
    line-height: 1.5rem;
}

.about-history-text h4{
    font-size: 2rem;
    color: var(--white);
    font-weight: 100;
}

footer{
    width: 100%;
    padding: 2rem 5rem;
    background-color: var(--dark-brown);
    border-top: 0.5px solid var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

.foot-logo{
    display: flex;
    justify-content: center;
}

footer img{
    width: 80px;
}

.nav-foot{
    display: flex;
    color: var(--white);
    gap: 5rem;
    justify-content: center;
}

.nav-foot a{
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}

.nav-foot a:hover{
    color: var(--grey);
}

.kontak-foot{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.kontak-foot p{
    color: var(--white);
}

.kontak-foot img{
    width: 17px;
}

